.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
  padding: 20px;
}

.form-card {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.ant-card-cover{
  display: flex;
  justify-content: center;
}
.form-image {
  object-fit: cover;  
  /* margin: 40px 0px 20px 0px; */
  /* margin-left: 23%; */
  
}

:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-cover >* {
  
  width: 300px;
  height: 300px;
}

.form-content {
  padding: 20px 0px 0px 0px;
}

:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-body {
 padding: 0px 20px; 
}



.ant-form-item-label > label {
  font-weight: 600;
  color: #333;
}

.ant-input,
.ant-select-selector {
  border-radius: 8px !important;
}

.ant-btn {
  border-radius: 8px;
  font-weight: 600;
}
