*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
  /* padding: 20px; */
}

.form-card {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  border-radius: 0px;
  border: none;
}
.ant-card-cover{
  display: flex;
  justify-content: center;
}
.form-image {
  
  object-fit: cover;  
  /* margin: 40px 0px 20px 0px; */
  /* margin-left: 23%; */
  
}
.title{
  color: #0958d9;
}


:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-cover >* {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.form-content {
  padding: 0px 0px 0px 0px;
}

:where(.css-dev-only-do-not-override-xepvsj).ant-card .ant-card-body {
 padding: 0px 20px; 
}

:where(.css-dev-only-do-not-override-xepvsj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  font-size: 20px; /* 50px => 20px */
}


.ant-form-item-label > label {
  font-weight: 600;
  color: #333;
}

.ant-input,
.ant-select-selector {
  border-radius: 5px !important;
  font-size: 20px;
}
:where(.css-dev-only-do-not-override-xepvsj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  font-size: 50px;
}
:where(.css-dev-only-do-not-override-xepvsj).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  font-size: 20px;
}

.ant-btn {
  border-radius: 5px;
  font-weight: 600;

}


/* /?  */




/* Input */
.ant-input {
  height: 50px !important;
  font-size: 20px !important;
  border-radius: 6px;
  padding: 0 12px;
}

/* Select */
.ant-select-selector {
  height: 50px !important;
  font-size: 20px !important;
  border-radius: 6px !important;
  display: flex;
  align-items: center;
  padding: 0 12px !important;
}

/* Select ichidagi tanlangan qiymat */
.ant-select-selection-item {
  font-size: 20px !important;
  line-height: 50px !important;
}



:where(.css-dev-only-do-not-override-xepvsj).ant-select .ant-select-arrow {
    margin-top: 5px;
    font-size: 20px;
}
/* :where(.css-dev-only-do-not-override-xepvsj).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  margin-bottom: 20px;
  } */

  :where(.css-dev-only-do-not-override-xepvsj).ant-form-item .ant-form-item-label >label{
  font-size: 18px;
}

:where(.css-dev-only-do-not-override-xepvsj).ant-form-item .ant-form-item-label >label.ant-form-item-required::before {
  display: none;
}
:where(.css-xepvsj).ant-form-item .ant-form-item-label >label.ant-form-item-required::before {
    /* display: inline-block; */
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "" !important;
}


/* ? error */
:where(.css-dev-only-do-not-override-xepvsj).ant-form-item .ant-form-item-explain-error {
  font-size: 11px;
  
}


/* ? button */
:where(.css-dev-only-do-not-override-xepvsj).ant-btn {
    font-size: 20px;
    height: 45px;
    padding: 0px 15px;
    border-radius: 5px;
    margin-top: 50px;
}

:where(.css-xepvsj).ant-btn {
    font-size: 20px;
    height: 45px;
    padding: 0px 15px;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
}


/* ? select icon */
:where(.css-xepvsj).ant-select .ant-select-arrow {
   
    margin-top: 5px !important;
    font-size: 18px !important;
    
}


:where(.css-xepvsj).ant-card .ant-card-cover >* {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 5px 5px 5p 5px;
}


:where(.css-xepvsj).ant-card .ant-card-body {
    padding: 0px;
    border-radius: 0px 0px 0px 0px;
}
:where(.css-xepvsj).ant-form-item .ant-form-item-explain-error:last-child{
    color: #ff4d4f;
    display: none;
}


:where(.css-xepvsj).ant-form-item .ant-form-item-additional {
    display: none;
}

    :where(.css-xepvsj).ant-form:not(.ant-form-inline) .ant-form-item {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }